<div style="height: 100vh" id="outer-container">
  <nav class="py-2">
    <img src="../../assets/logo-transperant.png" alt="" />
  </nav>

  <div
    class="row w-100 d-flex justify-content-center align-items-center"
    style="height: calc(100% - 26px); margin-top: -66px"
  >
    <div class="col-6 d-flex justify-content-center">
      <div class="w-50">
        <div>
          <p>Login</p>
        </div>
        <div>
          <div>
            <label for="">Username</label>
            <input
              type="text"
              class="form-control"
              placeholder="Example: john.doe"
            />
          </div>
          <div>
            <label for="">Password</label>
            <input
              type="text"
              class="form-control"
              placeholder="Enter your password"
            />
          </div>
          <div class="mt-3">
            <button class="btn btn-red btn-round w-100">Log in</button>
          </div>
        </div>
      </div>
    </div>
    <div class="h-100 col-6 d-flex align-items-end justify-content-end">
      <div>
        Image by
        <a
          class="link"
          href="https://pixabay.com/users/JillWellington-334088/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2485051"
          >Jill Wellington</a
        >
        from
        <a
          class="link"
          href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2485051"
          >Pixabay</a
        >
      </div>
    </div>
  </div>
</div>
