<nav class="d-flex justify-content-between red-bg pb-2 align-items-center" id="nav-bar">
    <div style="width: 100px"></div>
    <div>
        <img src="../../assets/small-logo-red.png" alt="">
    </div>
    <div class="d-flex">
        <div>
            <span class="nav-link white">Login <i class="fa fa-user icon white" aria-hidden="true"></i></span>
        </div>
        <div>
            <span class="nav-link"><i class="fa fa-shopping-cart icon white"></i></span>
        </div>
    </div>
</nav>